<h2>登録内容を編集</h2>

  <%= form_with model:@user, local:true do |f| %>
    <label for="inputName">ニックネーム</label></br>
      <%= f.text_field :name, autofocus: true, id:"inputName" %></br>
    <label for="inputIntroduction">イントロダクション</label></br>
      <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %></br>
    <%= f.submit "編集完了！" %>
  <% end %>
  
  

