<%= render 'user/user_header' %>

<div class= "center">

  <h1 class= "border-bottom black">バンド一覧</h1>
    <div class="main_contents">
			  <% @user.each do |user| %>
			  	<div class= "blog_contents">
				  	<h2><%= user.name %></h2>
					  <div class ="pt-5"><%= link_to "楽曲一覧",user_path(user.id) %></div>
		      </div>
		  	<% end %>
		</div>
</div>