<%= render 'user/user_header' %>

<div class= "center">

  <h1>バンド一覧</h1>

    <table>
      <% kind_before_type_cast = @user %><!--ユーザー登録タイプ（band）のみを表示-->
      <% @user.each do |user| %>
      <tr>
        <th>バンド名</th>
        <th>詳細</th>
      </tr>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "楽曲一覧",user_path(user.id) %></td>
      </tr>
    <% end %>
    </table>
</div>