<%= render 'user/user_header' %>

<div class= "center">

  <h1>バンド一覧</h1>

    <table>
      <% @user.each do |user| %>
      <% if user.kind == 0 %>
      <tr>
        <th>バンド名</th>
        <th>詳細</th>
      </tr>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "楽曲一覧",musics_path %></td>
      </tr>
    <% end %>
    <% end %>
    </table>

</div>