<div class="center">
  <h1>About</h1></br>

    <p>あなたの好きな音楽を発信して、おすすめを伝えてください。</br>
      あなたのおすすめで新しい音楽に出会う人がいるはずです。</br></br></br>

    <p>共通の好みを持つユーザの投稿は要チェックです。</br>
       必ずあなたの好みのアーティストが見つかるでしょう。</br></br></br></br></br>

</div>