<h1>About</h1>

<p>あなたの好きな音楽を発信して、おすすめを伝えてください。
  あなたのおすすめで新しく出会いがある人がいます。
  また、共通の仲間と素晴らしさを共有しましょう。</p>
<p>共通の好みを持つユーザの投稿は要チェックです。
  そこに新しい出会いが隠れているかもしれません。
  全く新しいジャンルに挑戦してみてもいいかもしれませんね。</p>

<p>☆管理人について☆
　UKロックが好きでいつも新しいバンドを探しています。
　ところがここ日本ではUKロックは流行っておらず、情報があまりありません。
　探すのに苦労して共通の友だちがいたらなぁと思っていました。
　音楽の趣味が合う人とのお話、楽しいですよね。</p>