<h1>Life & Music</h1>
  <h3>好きな音楽を共有しよう!</h3>

  <p>
    Life & Musicでは、新たな音楽との出会いを提供します。</br>
    </br>
    世の中には素敵な音楽に溢れています。</br>
    </br>
    素敵な音楽との出会いを探しに行きましょう。
  </p>

  <%= link_to "About", home_about_path %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>