<%= render 'user/user_header' %>

<div class="center">
  <h1>About</h1>

    <p></br>
      コロナ禍でライブができずPRの場が減ってしまった</br>インディーズバンドの皆様がPR活動を行えるサイトを制作しました。</br>
      動画投稿を行い自身のPRに役立てください。</br></br>
      音楽関係者の方々に閲覧いただくことにより、</br>このサイトは成り立ちます。</br>
      ぜひインディーズバンドのチェクに</br>ご活用いただければ幸いです。
    </p>
</div>