<%= render 'user/user_header' %>

<div class="center">
  <h1>Life & Music</h1>
    <h3>インディーズバンド×プロデューサー</h3>

    <p>
      Life & Musicは、インディーズバンドと音楽プロデューサーをつなぐサイトです。</br>
      </br>
      インディーズバンドの皆様は楽曲を投稿いただき、</br>
      </br>
      音楽プロデューサーの皆様は気になるバンドが見つかればぜひお声がけ
    </p>

</div>