<%= render 'user/user_header' %>

<div class="center">
  <h1 class="top_title">Life & Music</h1>
    <h3>インディーズバンド×プロデューサー</h3>
      <p><br>
        Life & Musicは、インディーズバンドと<br>音楽プロデューサーをつなぐサイトです。<br><br>
        <br>
        インディーズバンドの皆様は楽曲を投稿して<br>PR活動を行っていただけます。<br><br>
        <br>
        音楽プロデューサーの皆様はインディーズバンドを<br>チェックすることができます。
      </p>
</div>