// Place all the styles related to the musics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  display: block;
    margin-left: auto;
    margin-right: auto
}

.blog_contents {
  border-bottom: 1px solid black;
}

.seach {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}