// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  text-align:center
}

table {
  width: 500px;
  border-collapse: collapse;
  border: solid 2px gray;
}

table th {
  border: dashed 1px gray;
}

table td {
  height: 300px;
}
  
.edit_btn {
  margin-top: 10px;
  margin-bottom: 100px;
}
