<h3><%= @music.artist.name %></h3>
  <h2><%= @music.name %></h2>

    <p>わたしが聴きたくなるシーン</p>
      <%= @music.scene %>

    <%= @music.introduction %>

    <p>以下コメントやりとり実装予定</p>


<h1>Musics#show</h1>
<p>Find me in app/views/musics/show.html.erb</p>