<% if model.errors.any? %>
 <h2><%= pluralize(model.errors.count, "error") %> prohibited this product from being saved:</h2>
  <div class="alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>